* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}


h2, p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* align-items: center;
    justify-content: center; */
}

.glass{
    background: white;
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(
        to right bottom, 
        rgba(255 ,255, 255, 0.7),
        rgba(255 ,255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
    margin: 50px auto;
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
}

.circle1, .circle2{
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255 ,255, 255, 0.8),
        rgba(255 ,255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1{
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}

.dashboard {
    /* flex: 1;
    display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 3fr;
  }

.user{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.links{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.link{
    /* display: flex; */
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.link h2{
    padding: 0rem 2rem;
}

.tweaks{
    /* flex: 2; */
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.subscribe{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    position: relative;
}

.subscribe img{
    position: absolute;
    top: -10%;
    right: 10%;

}


.subscribe h2{
    width: 40%;
    color: white;
    font-weight: 600;
}

/* TWEAKS */

.search{
    margin-bottom: 3rem;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.search input{
    background: linear-gradient(
        to right bottom, 
        rgba(255 ,255, 255, 0.7),
        rgba(255 ,255, 255, 0.3)
    );
        border: none;
        width: 50%;
        padding: 0.5rem;
        border-radius: 2rem;

}

.tweaks{
    margin: 5rem;
    /* display: flex;
    flex-direction: column; */
    justify-content: space-evenly;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.cards{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);

}

.card{
    /* display: flex;
    flex-wrap:wrap; */
    background: linear-gradient(
        to left top, 
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    /*align-items: center;*/
}

.status{
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    width: 100%;
    height: 25%;
    /* height: 100%; */
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    background: grey;


}

.status::after{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    content: "";
    width: 50%;
    height: 100%;
    /* background: rgb(78, 217, 100); */
    position: absolute;
    top:0 ;
 /* left: 60%; */
}
.status::before{
    content: "offline";
    top: 0;
    position: absolute;
    z-index: 11111;
    /* text-align: center; */
}


.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:wrap;
}

.downloads{
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}